# This file is used to specify Python dependencies for the project.
# You can add any libraries your application needs here.
requests
fastapi
python-multipart
streamlit
uvicorn[standard]
ctransformers
chromadb
sentence-transformers
PyPDF2
python-docx
langchain
pandas
openpyxl
